<div class="container-fluid homeBG ">
    <div class="row">
        <div class="col-md-12 homePIC aboutMebackground">
            <h1 class="trainWJT">About <a style="color:#166E53; text-decoration: none">M</a>e</h1>
        </div>
    </div>
</div>
<div class="container aboutMe">
    <div class="row">
        <div class="col-md-12">
        <h3 class="myStory"><b>My Story</b></h3>
            <p>When I began my fitness journey I wasn't the strong and athletically inclined girl. I wasn't a high school athlete or a childhood gymnast. After college I decided I was sick of never looking the way I wanted to look and eating 1200 calories a day in muffins while trying so hard to get over my hatred of cardio. I finally decided to try a strength training program and committed to consistently lifting weights for one year.</p>
            <p>As I grew to enjoy my workouts and learned how to have better form, I found myself growing in confidence, eating healthier, and eating more. I was stronger, leaner, and more energetic. Before I knew what had happened, I wasn't obsessing over the scale anymore and I was living a healthy and balanced life. Physical activity was now a part of my life that I didn't want to skip and it wasn't a chore. I GOT to workout, instead of "I HAVE to workout."</p>
            <p>It became clear that my passion in life was to help others in their fitness journey.</p>
            ​
            <p>When I began coaching, I wanted to teach other women how to get strong, have more energy, and attain their physical goals. Now my passions have expanded to pregnant women and moms, who are struggling to find the time and energy to be healthy and fit. I am an educator and a motivator at heart. </p>
            <h3 class="myStory"><b>My Experience</b></h3>
            <ul>
                <li>NASM - CERTIFIED PERSONAL TRAINER</li>
                <li>CROSSFIT - LEVEL 1</li>
                <li>DESTRUCTIVELY FIT NETWORK</li>
            </ul>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-12 poemCenter">
            <p>I love working with women that are ready for a change.
                <br> I love teaching you how to build muscle and gain confidence when lifting weights.
                <br> I love helping those that feel insecure and uncertain about health and fitness.
                <br> I love coaching those that are sick of fighting the calories in vs. calories out battle.
            </p>
            <p>Whether you want to utilize a gym or workout in your basement, I develop programs that work regardless of your situation. I come alongside you to give you the tools and support to push past your boundaries and accomplish your goals.
            </p>
            <p>I love helping others become the strongest and most energetic they've ever been in their lives.</p>
        </div>
    </div>
</div>