<div class="container-fluid homeBG ">
    <div class="row">
        <div class="col-md-12 homePIC background">
            <h1 class="trainWJT">Train With Jackie</h1>
        </div>
    </div>

<div class="row">
    <div class="col-md-12 signUP">
        <form action="https://formspree.io/jaxcrossfitlife.com" method="POST">
            <div class="col-md-8 col-md-offset-2 center connectWJT">
                <div class="col-md-12">
                    <div class="col-md-3 formWidth">
                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleInputEmail1" name="name" placeholder="First Name">
                        </div>
                    </div>
                    <div class="col-md-3 formWidth">
                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleInputEmail1" name="name" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="col-md-3 formWidth">
                        <div class="form-group">
                            <input type="email" class="form-control" name="_replyto" id="exampleInputEmail1" placeholder="Email Address">
                        </div>
                    </div>
                    <div class="col-md-3 formWidth">
                        <div class="col-md-6">
                            <button type="submit" value="Send" class="btn btn-primary">Connect</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
<div class="container-fluid 3Pics">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-12 threeIMG">
                <div class="col-md-4 jamSite">
                    <img src="../images/mobilityIMG.JPG" alt="">
                </div>
                <div class="col-md-4">
                    <img src="../images/strengthIMG.jpg" alt="">
                </div>
                <div class="col-md-4">
                    <img src="../images/enduranceIMG.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid noPadding">
    <div class="row">
        <div class="col-md-12 onlineCOACH background2">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="shadowBOX">
                    <h1>Online Coaching</h1>
                    <ul>
                        <h3>Choose between 8 or 12 week programs</h3>
                        <h3>A training program designed for you and your life</h3>
                        <h3>Calorie and Macro goals designed for your body</h3>
                        <h3>Weekly accountability and progress check-ins</h3>
                        <h3>E-mail support and form check throughout the week</h3>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>