<header data-headroom id="header" class="container-fluid headroom nav">
    <div class="row topGreyRow">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-12 col-md-offset-1">

                <div class="col-md-2 navMenu Home  navMenuPortfolio hidden-sm hidden-xs" ng-class="{active:isActive('/')}">
                    <h4 class="joker" ui-sref='home'>Home</h4>
                </div>

                <div class="col-md-2  navMenu About hidden-sm hidden-xs" ng-class="{active:isActive('/about')}">
                    <h4 class="joker" ui-sref='about'>About Me</h4>
                </div>

                <div class="col-md-2 col-sm-6">
                    <img class="JTLogoNav" src="../images/logo2.png" alt="">
                </div>

                <div class="col-md-2 navMenu OnlineCoaching hidden-sm hidden-xs" ng-class="{active:isActive('/onlinecoaching')}">
                    <h4 class="joker" ui-sref='onlinecoaching'>Online Coaching</h4>
                </div>

                <div class="col-md-2 navMenu Contact hidden-sm hidden-xs" ng-class="{active:isActive('/contact')}">
                    <h4 class="joker" ui-sref='contact'>Contact</h4>
                </div>

                <div class="col-md-2 hidden-sm hidden-xs">
                    <a class="fa fa-twitter-square socialMedia" href="https://twitter.com/jackietfitness" aria-hidden="true"></a>
                    <a class="fa fa-facebook-square socialMedia" href="https://www.facebook.com/jackietfitness/?hc_ref=ART2loYpGfHZKgu0q8BWASkcVUa0XEsarQKLU5aBeH50n1n3MtdGpzHhS1yGTf1cxsY&fref=nf" aria-hidden="true"></a>
                    <a class="fa fa-instagram socialMedia" href="https://www.instagram.com/jackiemit/" aria-hidden="true"></a>
                    <a class="fa fa-youtube-play socialMedia" href="https://www.youtube.com/channel/UCXmq_6alwf3s6-otAvL0meQ" aria-hidden="true"></a>
                </div>
            </div>
        </div>
    </div>
    </header>
    <div class="hamburgerMenu hidden-md hidden-lg">
        <div class="bar"></div>
    </div>
    <div class="container-fluid hidden-md hidden-lg hiddenMenu navMenuHidden navMenuVisible">
        <div class="row hiddenMenuRow">
            <div class="col-md-12">
                <div class="col-md-2 paddingTop" ng-class="{activeMini:isActive('/')}">
                    <h4 ui-sref='home'>Home</h4>
                </div>
                <div class="col-md-2" ng-class="{activeMini:isActive('/about')}">
                    <h4 ui-sref='about'>About Me</h4>
                </div>
                <div class="col-md-2" ng-class="{activeMini:isActive('/onlinecoaching')}">
                    <h4 ui-sref='onlinecoaching'>Online Coaching</h4>
                </div>
                <div class="col-md-2" ng-class="{activeMini:isActive('/contact')}">
                    <h4 ui-sref='contact'>Contact</h4>
                </div>
                <div class="col-md-2">
                    <a class="fa fa-twitter-square socialMedia" href="https://twitter.com/jackietfitness" aria-hidden="true"></a>
                    <a class="fa fa-facebook-square socialMedia" href="https://www.facebook.com/jackietfitness/?hc_ref=ART2loYpGfHZKgu0q8BWASkcVUa0XEsarQKLU5aBeH50n1n3MtdGpzHhS1yGTf1cxsY&fref=nf" aria-hidden="true"></a>
                    <a class="fa fa-instagram socialMedia" href="https://www.instagram.com/jackiemit/" aria-hidden="true"></a>
                    <a class="fa fa-youtube-play socialMedia" href="https://www.youtube.com/channel/UCXmq_6alwf3s6-otAvL0meQ" aria-hidden="true"></a>
                </div>
            </div>
        </div>
    </div>
