<div class="container-fluid homeBG ">
    <div class="row">
        <div class="col-md-12 homePIC onlineCoachbackground">
            <h1 class="trainWJT">Online Coaching</h1>
        </div>
    </div>
</div>
<div class="container tablist">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">What do I need to do first?</a></h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <p>Contact me or request a complimentary assessment! <br>
                            From there, I will e-mail you a questionnaire to fill out and have you e-mail back to me. <br>
                            Once I review your answers, I will decide if I am the best coach to help you achieve your goals.
                            </p>
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">What will the questionaire include?</a></h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <p>
	                            Current Body Composisition <br> 
	                            Age <br> 
	                            Height <br> 
	                            Body Weight <br> 
	                            Body Fat Percentage <br> 
	                            Initial Progress Pictures (front, side, and back)
                            </p>

                            <p>
	                            <b>Your Why!</b> <br> 
	                            Whare are you looking for a coach? <br> 
	                            Why do you want a coach? 
                            </p> 

                            <p>
	                            <b>Your Background</b> <br> 
	                            Have you Ever worked out? <br> 
	                            Have you ever played sports? <br> 
	                            Do you have injuries?* <br> 
	                            Have you ever been diagnosed with an eating disorder?* <br> 
	                            Are there any physical activities you absolutely have doing? <br> 
	                            Are there any physical activites you really want to include in your fitness journey? 
                            </p>

                            <p>
	                            <b>Your Setting</b> <br>
	                            Where will you be working out? A gym? At home? <br>
	                            What equipment is available? 
                            </p>

                            <p>
                            	<b>Your Turn!</b>
                            	Any information about you and your life that you want to share? I want to know! <br>
                            	If it's important to you it's important to me! <br>
                            	Ask me quesitons!
                            </p>

                            <p>*It is my judgment call if I have the knowledge and can effectively help you.</p>

                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Why do you require the questionaire before you become my coach?</a></h4>
                    </div>

                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <p>
                            	This helps me decide if I will be able to be the best coach for YOU. 
                            </p>
                            <p>
                            	There are some things I am not experienced in coaching (i.e. a bikini or figure competition prep).
                            </p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">What happens if we are a match?</a></h4>
                    </div>

                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
                            <p>
                            	Once I decide to take you on as a client and you decide that you are 100% ready and committed to this process, you will purchase the online coaching bundle (8 or 12 weeks) and I will get started on your unique training program and nutrition plan.

                            </p>

                            <p>

                            	I may have additional or follow-up questions for you. 

                            </p>
                            <p>

                            	Your 8 or 12 weeks of coaching starts after I finish preparing your plan and we decide together on your start date. At that point I will send you your first week of your training plan and you have will have 2-3 days time to review before you begin. This gives you time to ask questions and receive answers on the movements. 
                            </p>
                            <p>

                            	I will require 7 days/week for your training plan and activity goals. Depending on your starting fitness level and goals some of these days may be "free activity days" where I will require only a certain amount of activity but YOU get to choose what that looks like (i.e. walking at the park or on a treadmill for 30 minutes, yoga, biking with your kids). 
                            </p>
                            <p>

                            	I will require you to track your food 100% of the time in My Fitness Pal so that I can follow along and see exactly what is going on with your food intake. This is very important! We will tweak calories and macros as needed on your journey! You will need a small food scale and these are easy and cheap to purchase on Amazon! 
                            </p>
                            <p>

                            	If you have the desire to hide food from me, don't. I am not here to judge, I am here to help and if you hide I cannot help. If I know you are struggling with the plan then I can adjust to help you get what you need (an occasional "off the plan" meal). I WILL work with your lifestyle and needs, because I want this to become your longterm way of life, and a change for a lifetime. Sidenote: if you LOVE pizza, we will make it happen!!! 
                           
                            </p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFive">
                        <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">What happens if I have questions about my training and nutrition?</a></h4>
                    </div>

                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                        <div class="panel-body">
                            <p>
                            	I will respond to e-mails within one workday (usually much sooner).
                            </p>
							<p>
                            	Make sure to review your training plan in depth before you go workout and plan accordingly. If you have questions about a workout ask me those questions 24 hours before you do the workout so I can respond and answer all your questions!
                            </p>
							<p>
                            	Feel free to e-mail videos for me to check your form, it is very important to me!!
                            </p>
							<p>
                            	I will also send videos to help with a visual on form or I will connect a Youtube video that shows the correct form.
							</p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingSeven">
                        <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">Do I need to purchase any quipment?</a></h4>
                    </div>

                    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                        <div class="panel-body">
                            <p>
                            	You will need a small food scale, which you can find on Amazon easily.
                            </p>
							<p>
								You will need access to a body weight scale which you will be able to consistently use at the same time and same place every week.
							</p>
							<p>
								You will need something to measure your body fat % (if you have a gym membership usually they will let you use their handheld one if you ask), or you can have someone skilled use a skin fold measurement device.
							</p>
							<p>
								I can make suggestions for extra equipment to buy for home workouts but if you want body weight workouts with no equipment, then that is what I will make happen for you.
							</p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingEight">
                        <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">What if I want you to coach me longer than 12 weeks?</a></h4>
                    </div>

                    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                        <div class="panel-body">
                            <p>
                            	I would LOVE that!
                            </p>
							<p>
								If you want to continue coaching, you will simply purchase another 8 or 12 week package and we will continue on in your journey together!
                            </p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingNine">
                        <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">Will I have weekly check-ins?</a></h4>
                    </div>

                    <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                        <div class="panel-body">
                            <p>
                            	YES!
                            </p>
							<p>
								We will decide on which day is the best for your weekly check-in, on check-in day you will send me updated weigh-in and pictures updates.
							</p>
							<p>
								You will send me a summary of how your week went, physically, mentally, and emotionally.
							</p>
							<p>
								You will send me any questions you have regarding your plan.
							</p>
							<p>
								You will express any frustrations with your plan or yourself so that I can tweak things to help you STICK to it!
							</p>
							<p>
								I will review, and change your next week's plan accordingly and respond to any questions or comments you have.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTen">
                        <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">How much does it cost?</a></h4>
                    </div>

                    <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                        <div class="panel-body">
                            <p>
                                8 Weeks <br>
                                $500
                            </p>
                            <p>
                                12 Weeks <br>
                                $600
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>