body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
}

.row {
  margin-right: 0;
}

.content{
  min-height: calc(100vh - 80px);
}


// Home Page ----------------------------------------------------------
.homeBG {
    
    padding: 0;
}

.background{
    width: 100%;
    padding: 0;
    height: 100vh; 
    background-image: url("../images/frontIMG2.JPG");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
}

.signUP{
    background: rgba(22, 110, 83, .5);
    padding-top: 40px;
    padding-bottom: 20px;
    margin-top: -109px;
    min-height: 109px;
    width: 100%;
}

.btn{
    width: 130px;
    text-decoration: none;
    background: rgba(22, 110, 83, 1);
}

input{
    opacity: .7;
}


@media screen and (max-width:992px){
    .signUP{
        background: black;
        padding-top: 40px;
        padding-bottom: 20px;
        margin-top: 40px;
        width: 100%;
    }
}

.background2{
    height: 800px;
    background-image: url("../images/middleIMG.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    z-index: -1;
    left:0;
    right:0;
    margin: 0px auto;
    display: block;
    h1{
        font-size: 70px;
        text-align: center;
        padding-top: 20px;
    }
    ul{
        text-align: center;
        li{
            text-align: center;
        }
    }
}

.homePIC{
    text-align: center;
    padding: 0;
}

.trainWJT{
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 18%;
    font-family: 'Playfair Display SC', serif;
    font-size: 70px;
}

.threeIMG{
    margin-top: 50px;
    z-index: 9;
    img{
        width: 100%;
        margin-bottom: 50px;
     }
     h3, div, p{
        color: white;
        text-align: center;
     }
     
}

.header-underscoreHome {
    width: 40px;
    height: 1px;
    background: white;
    margin-bottom: 10px;
    margin-top: 10px;
}

//Three Image Hover Over ----------------------------------------------------------

.jamPop{
  transition: .3s ease-in-out;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  transition-delay: initial;
  display: none;
  position: absolute;
  top:0;
  padding-top: 10%;
  padding-left: 10px;
  width: calc(100% - 30px);
  height: calc(100% - 50px);
  background: rgba(0,0,0,0.5);
  cursor: pointer;
}

.jamPopHidden{
  transform: translateY(-100%)!important;
}

.jamPopVisible{
   display: block;
   transform: translateY(0%);
}

.jamSite{
  overflow: hidden;
}



.shadowBOX{
    margin-top: 30%;
    background: rgba(0, 0, 0, .6);
    padding-bottom: 10px;
}

//About Me Page ----------------------------------------------------------

.aboutMebackground{
    width: 100%;
    padding: 0;
    height: 100vh; 
    background-image: url("../images/aboutmeIMG.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.aboutMe{
  padding-top: 50px;

}

.myStory{
  font-family: 'Playfair Display SC', serif;
}

.poemCenter{
  border-top: 1px solid black;
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

//Online Coaching Page ----------------------------------------------------------

.onlineCoachbackground{
    width: 100%;
    padding: 0;
    height: 100vh; 
    background-image: url("../images/onlineCoachIMG2.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.tablist{
  padding-top: 50px;
  padding-bottom: 50px;
}

//Contact Page ----------------------------------------------------------

.contactForm{
  padding-top: 150px;
  color: rgba(22, 110, 83, 1);
}

.phone, a{
  display: inline-block;
  text-decoration: none;
  color: rgba(22, 110, 83, 1);
}
.phoneNumber{
  color: rgba(22, 110, 83, 1);
  display: inline-block;
  padding-top: 20px;
  a{
    text-decoration: none;
  }
  a:hover{
    color: #E178D6;
  }
}
.fa-phone{
  padding-left: 30px;
}

.formsCON{
  padding-top: 20px;
  padding-right: 0;
  padding-left: 0;
  input, textarea{
    opacity: .6;
  }
}

.CONbtn{
  margin-top: 10px;
  float: right;
  background: rgba(22, 110, 83, 1);
  margin-bottom: 20px;
}


.form-control{
  padding-bottom: 9px;
}

//Footer ----------------------------------------------------------

.footer{
  background-color: #166E53;
}

.footerNav{
  text-align: center;
  margin-top: 30px;
  color: white;
  padding: 0;
}

.JTLogo{
  margin: 0px auto;
  display: block;
  height: 150px;
  margin-top: 40px;
  margin-bottom: 40px;
  -webkit-filter: rgb(1,1,1);
}

.smFooter{
  text-align: center;
  .socialMediaFooter{
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;

  }
}

.footerMenu{
  cursor: pointer;
}






// Nav Bar ----------------------------------------------------------


.navMenu:hover {
    transition: all .4s ease;
    h4 {
        color: #E178D6;
        transition: all .4s ease;
    }
}

.active{
  h4{
    color: #E178D6;
  }
}

.JTLogoNav{
  margin: 0px auto;
  display: block;
  height: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

@media screen and (max-width:992px){
      .JTLogoNav{
          margin: 0px auto;
          display: block;
          height: 70px;
          margin-top: 10px;
          margin-bottom: 10px;
          cursor: pointer;
          left: 0;
          margin-left: 30px;
        }
}



.logo {
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    // font-weight: bold;
}

.nav {
    z-index: 10;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    background: white;
    top: 0;
    left: 0;
    right: 0;
    transition: .2s ease-in-out;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
}



#header {
    border-bottom: 5px solid #166E53;
}

.joker {
    text-align: center;
    padding-top: 25px;
    cursor: pointer;
}

.socialMedia {
    font-size: 25px;
    padding-top: 32px;
    float: right;
    padding-left: 5px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.socialMedia:hover {
    color: #E178D6;
    transition: all .6s ease;
    cursor: pointer;
    text-decoration: none;
}

.headroom {
    will-change: transform;
    transition: transform .3s ease-in-out;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
}


// Hamburger Menu  -------------------------------------------------------------------------------------------


$bar-width: 30px;
$bar-height: 3px;
$bar-spacing: 8px;

.hamburgerMenu {
  z-index: 9999;
  position: absolute;

  top: 0;
  right: 0;
  margin-top: 27px;
  margin-right: 60px;
  width: $bar-width;
  height: $bar-height + $bar-spacing*2;
  cursor: pointer;
}

.bar, .bar:after, .bar:before {
  width: $bar-width;
  height: $bar-height;
}

.bar {
  position: relative;
  transform: translateY($bar-spacing);
  background: black;
  transition: all 0ms 200ms;
  
  &.animate {
    background: rgba(255, 255, 255, 0); 

  }
}

.bar:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: $bar-spacing;
  background: black;
  transition: bottom 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: $bar-spacing;
  background: black;
  transition: top 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:after {
  top: 0;
  background: white;
  transform: rotate(45deg);
  transition: top 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1);;
}

.bar.animate:before {
  bottom: 0;
  background: white;
  transform: rotate(-45deg);
  transition: bottom 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1);;
}

//---------------------------------------------------------------------------------------------------------------------


//Hidden Menu

.hiddenMenu{
  display: block;
  height: 100%;
  width: 100%;
  background: #292F36;
  background: rgba(0,0,0,0.8);
  position: fixed;
  z-index: 999;
  color: white;
  
  text-align: center;
  h4{
    font-size: 30px;
    padding-bottom: 20px;
    cursor: pointer;
  }
  h4:hover{
        color: #166E53;
        transition: all .4s ease;
  }
  .socialMedia{
    float: none;
    font-size: 40px;
    padding-top: 0;
    color: white;
    text-decoration: none;
  }
}
.paddingTop{
  padding-top: 80px;
}

.hiddenMenu{
  transition: .3s ease-in-out;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  transition-delay: initial;
}

.navMenuHidden{
  transform: translateY(-115%) !important;
}

.navMenuVisible{
  transform: translateY(0%);
}


